In [104]:
import pandas as pd
entiredf=pd.read_csv("Aadhar.csv")
entiredf=entiredf.rename(columns={'Pin Code': 'pin_code','Sub District':'sub_district','Aadhaar generated':'aadhaar_generated',
                                  'Enrolment Rejected':'enrolment_rejected','Residents providing email':'rp_email',
                                  'Residents providing mobile number':'rp_mobileno','Enrolment Agency':'enrolment_agency'
                                 })
entiredf.pin_code=entiredf.pin_code.astype('str') # TO AVOID DtypeWarning: Columns (5)
# print(entiredf.iloc[:,5])
df=entiredf;
entiredf.head()

/usr/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Registrar,enrolment_agency,State,District,sub_district,pin_code,Gender,Age,aadhaar_generated,enrolment_rejected,rp_email,rp_mobileno
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0,1

In [2]:
#qn 1
len(df.State.unique())

37

In [3]:
#qn 2 "An"
# def callback(x):
    
print("containing 'An' :", df.State[df.State.str.startswith('An')].unique())

# qn 3 "double letters"
s=''
for i in range(65,91):
    s=s+chr(i)+chr(i)+"|"+chr(i+32)+chr(i+32)+"|"+chr(i)+chr(i+32)+"|" # AA,aa,Aa
s=s[:-1]
print("containing double letter :\n",df.State[df.State.str.contains(s)].unique())

containing 'An' : ['Andhra Pradesh' 'Andaman and Nicobar Islands']
containing double letter :
 ['Uttar Pradesh' 'Assam' 'Chhattisgarh' 'Jammu and Kashmir' 'Uttarakhand'
 'Puducherry' 'Sikkim' 'Lakshadweep']

In [4]:
# qn 4 states where one alphabet will repeat more than one times

def func(x):                         # chk repetition based on letter  counts 
    x=x.replace(" ","")              # removed whitepace
    x=list(x)
#     print(len(x))
#     print(len(list(dict.fromkeys(x))))
    if len(x)==len(list(dict.fromkeys(x))):
        return False
    else:
        return True
    

df[df.State.map(func)].State.unique()

array(['Uttar Pradesh', 'Assam', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Telangana', 'Andhra Pradesh', 'Rajasthan',
       'West Bengal', 'Andaman and Nicobar Islands', 'Chhattisgarh',
       'Jharkhand', 'Tripura', 'Chandigarh', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Meghalaya', 'Tamil Nadu',
       'Uttarakhand', 'Puducherry', 'Arunachal Pradesh', 'Nagaland',
       'Dadra and Nagar Haveli', 'Daman and Diu', 'Sikkim', 'Lakshadweep'],
      dtype=object)

In [5]:
#qn 5 --last 4th letter g
def func(x): # chk repetition based on letter  counts 
    x=list(x)        
    try :
        if x[-4]=="g":
            return True
        else:
            return False
    except :
#         print(str(x)+" has length less than 4")
        return False # value error 
    

      
df.State[df.State.map(func)].unique()

array(['Telangana', 'Chhattisgarh', 'Chandigarh'], dtype=object)

In [6]:
# qn 6 . Print total count of states.(Ex: Bihar - 2 
df.State.value_counts()

Bihar                          81776
Uttar Pradesh                  69476
West Bengal                    60485
Madhya Pradesh                 37360
Rajasthan                      28659
Gujarat                        24146
Tamil Nadu                     21196
Maharashtra                    19783
Karnataka                      15755
Kerala                         12378
Odisha                         11972
Jharkhand                       7423
Delhi                           7247
Uttarakhand                     6521
Punjab                          5888
Haryana                         5138
Chhattisgarh                    4617
Andhra Pradesh                  4540
Telangana                       3768
Mizoram                         3172
Assam                           2972
Jammu and Kashmir               1331
Himachal Pradesh                1283
Goa                              799
Tripura                          726
Arunachal Pradesh                632
Manipur                          562
Nagaland                         392
Meghalaya                        259
Chandigarh                       199
Dadra and Nagar Haveli           107
Daman and Diu                     99
Puducherry                        85
Sikkim                            48
Others                            12
Andaman and Nicobar Islands        7
Lakshadweep                        5
Name: State, dtype: int64

In [7]:
#qn 7
df[df.enrolment_agency.str.contains("India")].head()

,Registrar,enrolment_agency,State,District,sub_district,pin_code,Gender,Age,aadhaar_generated,enrolment_generated,rp_email,rp_mobileno
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0,1
5,Allahabad Bank,Transmoovers India,Uttar Pradesh,Varanasi,Pindra,221101,M,14,1,0,0,1
6,Allahabad Bank,Transmoovers India,Uttar Pradesh,Varanasi,Varanasi,221001,M,9,1,0,0,1
7,Allahabad Bank,Transmoovers India,Uttar Pradesh,Varanasi,Varanasi,221002,M,4,1,0,0,1
8,Allahabad Bank,Transmoovers India,Uttar Pradesh,Varanasi,Varanasi,221002,M,10,0,1,0,1

In [8]:
# qn 8 -
print(df[df.enrolment_agency.str.contains("-")].head())

                                      Registrar  \
0                                Allahabad Bank
163649  CSC e-Governance Services India Limited
163650  CSC e-Governance Services India Limited
163651  CSC e-Governance Services India Limited
163652  CSC e-Governance Services India Limited

                               enrolment_agency           State  \
0                         A-Onerealtors Pvt Ltd   Uttar Pradesh
163649  CSC e-Governance Services India Limited  Andhra Pradesh
163650  CSC e-Governance Services India Limited  Andhra Pradesh
163651  CSC e-Governance Services India Limited  Andhra Pradesh
163652  CSC e-Governance Services India Limited  Andhra Pradesh

             District sub_district pin_code Gender  Age  aadhaar_generated  \
0           Allahabad         Meja   212303      F    7                  1
163649  Ananthapuramu  Gandlapenta   515521      M    1                  1
163650  Ananthapuramu  Peddapappur   515408      M    0                  1
163651  Ananthapuramu  Peddapappur   515445      F    0                  1
163652  Ananthapuramu       Putlur   515414      F    0                  1

        enrolment_generated  rp_email  rp_mobileno
0                         0         0            1
163649                    0         0            1
163650                    0         0            1
163651                    0         0            0
163652                    0         0            1

In [9]:
#qn 10 pvt limited
pvtltd="Pvt Ltd|PVT LTD|PRIVATE LTD| LTD|Private Limited|Pvt. Ltd|Limited|Ltd|LIMITED|Private Li|PVTLTD"
sub=df.enrolment_agency[df.enrolment_agency.str.contains(pvtltd)].unique()
print(len(sub))
# df.enrolment_agency[df.enrolment_agency.str.contains(pvtltd)].unique()
supr=df.enrolment_agency.unique()
# print(list(set(supr)-set(sub)))

114

In [151]:
# qn 10  ex GOK 3 caps together
def func(x): # chk repetition based on conti letter  ASCII value 
    try:
        for i in range(len(x)):
            #print(i)
            if ord(x[i]) in range(ord("A"),ord("Z")) and  ord(x[i+1]) in range(ord("A"),ord("Z")) \
                                                     and  ord(x[i+2]) in range(ord("A"),ord("Z")):
                return True
    except :
        return False


    
      
# df.enrolment_agency[df.enrolment_agency.map(func)].head()
uniq=df.enrolment_agency.unique()
for i in uniq:
    if func(i)== True:
        print(i)

SGS INDIA PVT LTD
Atalji Janasnehi Directorate  GOK
CHESSY CONSULTANTS PVT LTD
DATASOFT COMPUTER SERVICES(P)
OSWAL COMPUTERS & CONSULTANTS
PROTEX COMPUTER PVT LTD
SARADA SYSTEMS
SHRIKRISHNA KHANDASARI SUGAR M
SREI INFRASTRUCTURE FINANCES L
VEETECHNOLOGIES PVT. LTD
AKSH OPTIFIBRE LIMITED
APOnline Limited
AVVAS INFOTECH PVT  LTD
BASIX
CALANCE SOFTWARE PRIVATE LTD
CHIPS
CMS Computers Ltd
CSC SPV
CSC e-Governance Services India Limited
HI-TECH CONTROLS
IAP COMPANY Pvt. Ltd
IPS e Services Pvt Ltd
KDS Services Private Limited
MANTRA SOFTTECH (INDIA) PVTLTD
MEGHA VINCOM PVT LTD
NPS Technologies Pvt. Ltd
NVR & ASSOCIATES LIMITED
SPANCO
SRR Infotech
VIKALP MULTIMEDIA
VISESH INFOTECNICS LIMITED
VISION COMPTECH INTEGRATOR LTD
WEBEL TECHNOLOGY LIMITED
Yashi Informatics LLP
FINANCIAL INFORMATION NETWORK
CDPO Tezu ICDS
DDSE Lohit
DFCSO  Tezu
CIRCLE OFFICER PIYONG
DSO STAT NAMSAI
EAC FI DA CHONGKHAM
EAC LEKANG
ADC BOLENG
CO JOMLO MOBUK
EAC OFFICE KAYING/CO PAYUM
APEX Services
ATISHAY INFOTECH PVT. LTD.
BNR UDYOG LIMITED
DEVASHISH SECURITIES PVT. LTD.
JNET Technologies Pvt.Ltd
M/S STAR DATA CENTRE
MARS Telecom Systems Pvt Ltd
MKS Enterprises
Organisation for Development Integrated Social & Health Action  ODISHA
VAP INFOSOLUTIONS
WEBEL
DIT Lakshadweep
COMTECH INSTITUTE OFTECHNOLOGY
SAR Technology
SVG Express Services Pvt Ltd
UMC Technologies Pvt. Ltd
BHAVANAGAR MC
E Seva Society UID Kheda Nadiad
E-Seva Society UID Bharuch
E-Seva Society UID Patan
Jilla e-SEVA Society Devbhoomi Dwarka
Jilla e-SEVA society Gir Somnath
UID e-Seva Society Ahmedabad
e-Seva Society UID Dang
Centre for e-Governance  GOK
EDCS GOK
SETU MAHARASHTRA
SILVER JUBILEE MOTORS LTD.
Department of Economics Statistics  Monitoring and Evaluation DESME
SREEVEN INFOCOM LIMITED
Directorate of ESD
AISECT Limited
BNK Capital Markets Limited
LYRA  CONSULTANCY SERVICE
MPOnline Limited
Computer LAB
KRISHNAURAM SHIKSHA EVAM JAN KALYAN SAMITI
M/s TAVASYA VENTURE PARTNERS PVT. LTD.
RELIGARE SECURITIES LTD
SNR Edatas Pvt Ltd
SRM Education And Social Welfare Society
UNITED DATA SERVICES PRIVATE LIMITED
VIRGO SOFTECH LIMITED
In Media Computer Services LLP
MACRO INFOTECH PVT LTD
COMTECHINFO SOLUTIONS PVT.LTD
TAMILNADU ARASU CABLE TV CORPORATION LTD
RBS multisolutions private limited
SRM Techsol Pvt. Ltd.
UIDAI-EA
Administration of DNH

In [11]:
# .11 Print all the rows from the registrar column where state name is available.(Ex: -Atalji Janasnehi DirectorateGovernment of Karnatak

df.Registrar[df.State.notnull()]

0                                         Allahabad Bank
1                                         Allahabad Bank
2                                         Allahabad Bank
3                                         Allahabad Bank
4                                         Allahabad Bank
                               ...
440813    Women and Child Development Govt. of Jharkhand
440814    Women and Child Development Govt. of Jharkhand
440815    Women and Child Development Govt. of Jharkhand
440816    Women and Child Development Govt. of Jharkhand
440817    Women and Child Development Govt. of Jharkhand
Name: Registrar, Length: 440818, dtype: object

In [12]:
#12. Print total count of District in state wise and find which state having maximum and minimu district
print(df.groupby("State").State.count())
print("\nMax dist :",df.groupby("State").State.count().idxmax())
print("Min dist :",df.groupby("State").State.count().idxmin())

State
Andaman and Nicobar Islands        7
Andhra Pradesh                  4540
Arunachal Pradesh                632
Assam                           2972
Bihar                          81776
Chandigarh                       199
Chhattisgarh                    4617
Dadra and Nagar Haveli           107
Daman and Diu                     99
Delhi                           7247
Goa                              799
Gujarat                        24146
Haryana                         5138
Himachal Pradesh                1283
Jammu and Kashmir               1331
Jharkhand                       7423
Karnataka                      15755
Kerala                         12378
Lakshadweep                        5
Madhya Pradesh                 37360
Maharashtra                    19783
Manipur                          562
Meghalaya                        259
Mizoram                         3172
Nagaland                         392
Odisha                         11972
Others                            12
Puducherry                        85
Punjab                          5888
Rajasthan                      28659
Sikkim                            48
Tamil Nadu                     21196
Telangana                       3768
Tripura                          726
Uttar Pradesh                  69476
Uttarakhand                     6521
West Bengal                    60485
Name: State, dtype: int64

Max dist : Bihar
Min dist : Lakshadweep

In [13]:
#13. Print all the rows from the column district and sub district which contain the common name.

df.District[df.District==df.sub_district].head()

2    Sultanpur
3       Shamli
6     Varanasi
7     Varanasi
8     Varanasi
Name: District, dtype: object

In [14]:
#14 Print all the pincode which contains at lest one zero (0).
# print(type(df.pin_code[0]))
df.pin_code[df.pin_code.str.contains("0")]

0         212303
4         273001
5         221101
6         221001
7         221002
           ...
440789    832105
440808    829206
440809    835302
440810    835302
440817    834002
Name: pin_code, Length: 280627, dtype: object

In [15]:
#15. Print all the pincode which contains two zero(0) together
df.pin_code[df.pin_code.str.contains("00")]

4         273001
6         221001
7         221002
8         221002
9         221002
           ...
440715    248007
440716    248007
440717    248007
440776    700061
440817    834002
Name: pin_code, Length: 74216, dtype: object

In [16]:
#16. Print Maximum count of pincode wise.
x=df['pin_code'].value_counts() # series to df for fun
pd.DataFrame({'pin_code':x.index, 'count':x.values}).iloc[0]

pin_code    854317
count          723
Name: 0, dtype: object

In [122]:
#17. Print which state having maximum and minimum aadhar card for Male and Female.
# def aadhgen0rem(x):
#     if  str(x)=='0': # forgot data type
#         return False
#     else:
#         return True

# t_df=df[df.aadhaar_generated.map(aadhgen0rem)] # remove cases of aaadhar generated = 0

t_df=df
t_df=t_df.groupby(["State","Gender"]).count()
print("State with max no of Males having aadhar    :",t_df.aadhaar_generated.loc[:,"M"].idxmax())
print("State with min no of Males having aadhar    :",t_df.aadhaar_generated.loc[:,"M"].idxmin())
print("State with max no of FeMales having aadhar  :",t_df.aadhaar_generated.loc[:,"F"].idxmax())
print("State with min no of FeMales having aadhar  :",t_df.aadhaar_generated.loc[:,"F"].idxmin())

State with max no of Males having aadhar    : Bihar
State with min no of Males having aadhar    : Andaman and Nicobar Islands
State with max no of FeMales having aadhar  : Bihar
State with min no of FeMales having aadhar  : Lakshadweep

In [42]:
#18 Print total count of aadhar card where age is < 10 and between 20 to 40.

# and frequency  20 and 40 is very low 
# print( df[  (df.Age < 10)   |   (  (df.Age > 20)&(df.Age < 40)  )   ])
           
total=df[ (df.Age < 10)   |   (  (df.Age > 20)&(df.Age < 40)  )  ].Age.value_counts()

total=total.sum()
print("Total count is :",total)

Total count is : 294392

In [102]:
# 19. Print the District name where age is lower.
_min=df.Age.min()
print("Districts with min age =\n",df[df.Age==_min].groupby("District").Age.min().head())
# the min age is 0 yrs
print("\n\nDistrict with min average year is",df.groupby(["District"]).Age.mean().idxmin(),
      " with average age =",df.groupby(["District"]).Age.mean().min())
# must 2.333??? -- toomany entries

Districts with min age =
 District
Adilabad      0
Agra          0
Ahmadnagar    0
Ahmedabad     0
Ajmer         0
Name: Age, dtype: int64


District with min average year is North And Middle Andaman  with average age = 2.3333333333333335

In [103]:
#20. Print the district which generated maximum no of aadhar card from the column Aadhar Generated.
df.iloc[df.aadhaar_generated.idxmax()].District

'Budaun'

In [123]:
#21. Print in which state maximum and minimum enrolment has rejected from the column Enrolment rejected.
print("Max rejected State:",df.groupby(["State"]).enrolment_rejected.sum().idxmax())
print("Min rejected State:",df.groupby(["State"]).enrolment_rejected.sum().idxmin())

Max rejected State: Bihar
Min rejected State: Others

In [144]:
#22. Count all the value of 0 and 1 from the last column so that it will shows how many has given the mobile no in the time of enrolment.
# resident provided mobile no
# lambda x : x*2 if x < 10 else (x*3 if x < 20 else x)
t_df=df.rp_mobileno.apply(lambda x : x/x if x !=0 else 0)
print("Total people ",len(t_df))
print("Phone number provided :",t_df.sum())
print("Phone number not provided :",t_df.count()-t_df.sum())

Total people  440818
Phone number provided : 328189.0
Phone number not provided : 112629.0

440818.0