In [32]:
#Which location having maximum death cases for male and female and Print all types of symptom.
import pandas as pd
entiredf=pd.read_csv("COVID1.csv")

In [33]:
df=entiredf.copy()
df.head()
df.tail()
print(df.columns)
# last  columns are empty so dropping them
df=df.drop(['Unnamed: 3','Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],axis=1)

Index(['id', 'case_in_country', 'reporting date', 'Unnamed: 3', 'summary',
       'location', 'country', 'gender', 'age', 'symptom_onset',
       'If_onset_approximated', 'hosp_visit_date', 'exposure_start',
       'exposure_end', 'visiting Wuhan', 'from Wuhan', 'death', 'recovered',
       'symptom', 'source', 'link', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')

In [34]:
df.death=df.death.dropna()
df.death.sum()

'000000000000000000000000000000000000000000000000111111111111111110000000000000000111111100000000000111111111111111000000000000000000000000000000000000000000000000000000000000000000000000000000000000002/14/20200000000000002/26/20200000000000000000000000000000000000000000000000002/13/20200002/28/20200000000000000000000000002/26/20200000000000000000000000000000000000000000002/27/20200000000000000000000000000000000000000000000000000000002/25/202000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002/23/20200000000000000002/23/20202/23/2020000000000000000000000000000000000000000000000000002/26/202002/23/20202/24/202002/22/20202/25/202002/27/20200000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000002/01/2000000000000000000000000000000000000000002/19/20202/19/20202/21/20202/21/2020000000000000000000000000000000000000000000000000'

In [35]:
df=df.loc[df.death.isin(['0','1'])]
df.gender=df.gender.astype(str)
df=df.loc[df.gender.isin(['female'])]
df.death=df.death.astype(int)

In [37]:
df.death.sum()
df2=df[['location','gender','death']]
df2.head()
df2.groupby(['location']).death.sum().idxmax()

'Wuhan, Hubei'